<%- include('./partials/header.ejs') %> 


<div class="container">

    <h1>20 MOST COMMON SOLITA MALE AND FEMALE NAMES</h1>

    <div class="form-group">
        <form action="/sorted/popularity" method="GET">
            <input class="form-control" type="submit" value="Popularity">
        </form>

        <form action="/sorted/alphabetical" method="GET">
            <input class="form-control" type="submit" value="Alphabetical">
        </form>
    </div>

    <div>
        <h3>Total amount of names is <%= totalAmount.total %></h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="rows">
                <% if (names) { %>
                    <% names.forEach((obj) => { %>
                    <td><%= obj.name %></td>
                    <td><%= obj.amount %></td>
                    <td>
                        <form action="/delete/<%= obj.name %>" method="POST">
                            <fieldset>
                                <button class="btn btn-primary">
                                    Remove  
                                </button>
                            </fieldset>
                        </form>
                    </td>
            </tr>
                    <% }); %> 
                <% } %>
        </tbody>
    </table>

    <form action="/" method="POST">
        <fieldset>
            <div class="form-group">

                <label for="name">Name:</label>
                <input class="form-control" type="text" name="name" value="<%= data.name %>" id="name">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'name'}) %>

                <label for="amount">Amount:</label>
                <input class="form-control" type="text" name="amount" value="<%= data.total %>" id="amount">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'amount'}) %>

                <input class="btn btn-primary" type="submit" name="Submit">
            </div>
        </fieldset>
    </form>

</div>


<%- include('./partials/footer.ejs') %> 